static/* linguist-vendored
GIFExtractor/jquery-2.2.0.min.js linguist-vendored
GIFExtractor/libgif.js linguist-vendored
GIFExtractor/rubbable.js linguist-vendored
the-hell-emulator/jia.js linguist-vendored
the-hell-emulator/autoc.js linguist-vendored
