name: "Fetch FF Cover Every Week"

on:
  schedule: 
    - cron: '0 14 * * 5'
  push:
    
jobs:
  job_1:
    name: Fetch FF Cover
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Fetch FF Cover
      run: |
        rm -rf ffdec
        wget https://github.com/jindrapetrik/jpexs-decompiler/releases/download/version14.2.1/ffdec_14.2.1.zip
        mkdir ffdec ; mv ffdec_14.2.1.zip ./ffdec/
        cd ffdec
        unzip ffdec_14.2.1.zip
        wget http://hua.61.com/resource/baseUI/fisrtPage.swf
        java -Xmx3550m -jar ./ffdec.jar -export image ./xhxCover/ ./fisrtPage.swf
    - name: Upload to this repo
      run: |
        cd ffdec/xhxCover
        mv *.png cover.png
        git config --global user.name "No5972" # Change to your GitHub user name
        git config --global user.email "wujiuqier@foxmail.com" # Change to your GitHub email address
        git add "*.png" && echo "Git Added" # Guess if there are any other types of pictures - Ref: https://stackoverflow.com/questions/25083290/git-add-error-unknown-switch
        git commit -m 'Fetch FF Cover' && echo "Git Committed"
        git push -u origin master && echo "Git Pushed Origin" # Change to your branch to place crawled pictures
